<div id="setting" class="row-fluid">
  <div class="span3">
    <div class="setting-option-wrap">
      <div class="setting-option">
        基本信息
      </div>
      <div class="setting-option active">
        更多信息
      </div>
      <div class="setting-option">
        修改密码
      </div>
      <div class="setting-option">
        教育信息
      </div>
      <div class="setting-option">
        职业信息
      </div>
      <div class="setting-option">
        组织管理
      </div>
    </div>
  </div>
  <div class="span9 row-fluid">
    <form class="info-wrap" name="baseInfoForm">
      <label>更多资料</label>
      <ul>
        <li class="row-fluid">
          <div class="span3">
            <span>QQ:</span>
          </div>
          <div class="span9">
            <input type="text" onclick="this.select()" ng-model="user.qq" ng-pattern="/^\d*$/">            
          </div>
        </li>
        <li class="row-fluid">
          <div class="span3">
            <span>联系邮箱:</span>
          </div>
          <div class="span9">
            <input type="email" onclick="this.select()" ng-model="user.relate_email">      
          </div>
        </li>
        <li class="row-fluid">
          <div class="span3">
            <span>微博:</span>
          </div>
          <div class="span9">
            <input type="text" onclick="this.select()" ng-model="user.blog">            
          </div>
        </li>
        <li class="row-fluid">
          <div class="span3">
            <span>MSN:</span>
          </div>
          <div class="span9">
            <input type="text" onclick="this.select()" ng-model="user.MSN">            
          </div>
        </li>
        <li class="row-fluid">
          <div class="span3">
            <span>博客:</span>
          </div>
          <div class="span9">
            <input type="text" onclick="this.select()" ng-model="user.blog">            
          </div>
        </li>
      </ul>
      <button class="btn btn-primary offset3" ng-click="submit()">save</button>
    </form>
  </div>
</div>