<div id="setting" class="row-fluid">
  <div class="span3">
    <div class="setting-option-wrap">
      <div class="setting-option">
        基本信息
      </div>
      <div class="setting-option">
        更多信息
      </div>
      <div class="setting-option active">
        修改密码
      </div>
      <div class="setting-option">
        教育信息
      </div>
      <div class="setting-option">
        职业信息
      </div>
      <div class="setting-option">
        组织管理
      </div>
    </div>
  </div>
  <div class="span9 row-fluid" ng-controller="changePasswordController">
    <form class="info-wrap" ng-submit="submit();" name="editPassword">
      <label>修改密码</label>
      <ul>
        <li class="row-fluid">
          <div class="span3">
            当前密码:
          </div>
          <div class="span9">
            <input type="password" ng-model="currentPassword">
          </div>
        </li>
        <li class="row-fluid">
          <div class="span3">
            新密码:
          </div>
          <div class="span9">
            <input type="password" ng-minlength="6" ng-maxlength="128" ng-model="password">
          </div>
        </li>
        <li class="row-fluid">
          <div class="span3">
            确认密码:
          </div>
          <div class="span9">
            <input type="password" ng-minlength="6" ng-maxlength="128" ng-model="passwordConfirmation">
          </div>
        </li>
      </ul>
      <button class="btn btn-primary offset3" ng-disabled="editPassword.$invalid || password != passwordConfirmation">save</button>
    </form>
  </div>
</div>