<ul class="breadcrumb sub-nav">
  <li ng-repeat="breadcrumb in breadcrumbs" class="{{$last ? 'active' : ''}}">
    <a ng-href="\#{{breadcrumb.url}}" ng-hide="$last">{{breadcrumb.name}}</a>
    <span ng-show="$last">{{breadcrumb.name}}</span>
    <span class="divider" ng-hide="$last">/</span>
  </li>
</ul>

<div id="setting" class="row-fluid">
  <div class="span3">
    <div class="setting-option-wrap">
      <div class="setting-option active">
        系统logo
      </div>
      <div class="setting-option">
        <a ng-href="#/settings/position">身份设置</a>
      </div>
      <div class="setting-option">
        <a ng-href="#/settings/push">推送设置</a>
      </div>
    </div>
  </div>
  <div class="span9 push-setting">
    <div class="info-wrap">
      <label>
        <strong>系统logo设置</strong>
      </label>
      <p>
        <form enctype="multipart/form-data">
          <input type="file" accept="image/*">
          <div class="btn btn-primary" onclick="$(this).prev().click()">选择图片</div>
          <span>(建议宽高不超过180像素*76像素,无背景颜色)</span>
        </form>
      </p>
      <p class="logo-preview pr">
        <h5>预览效果:</h5>
        <%= image_tag('logo_previewer.png') %>
        <h5>刷新或点击<a href="javascript: window.location.reload();" >这里</a>查看效果</h5>
      </p>
    </div>
  </div>
</div>