<ul class="breadcrumb sub-nav">
  <li ng-repeat="breadcrumb in breadcrumbs" class="{{$last ? 'active' : ''}}">
    <a ng-href="\#{{breadcrumb.url}}" ng-hide="$last">{{breadcrumb.name}}</a>
    <span ng-show="$last">{{breadcrumb.name}}</span>
    <span class="divider" ng-hide="$last">/</span>
  </li>
</ul>

<div id="adapter_view" class="row-fluid">
  <div class="span3 settings-nav">
    <div class="nav" ng-repeat="nav in navs">
      <a href="#{{nav.url}}" ng-class="nav.class">{{nav.title}}</a>
    </div>
  </div>
  <div class="span9 detail" ui-view="detail">
    
  </div>
</div>

<div id='form_collections'>
  <div class='wrap'>
    <div class='content'>
      <table class='formdata table table-striped'>
        <tr>
          <th>姓名</th>
          <th ng-repeat="input in form.inputs">{{input.label}}</th>
        </tr>
        <tr ng-repeat="collection in form.collections">
          <td>{{collection.user.name}}</td>
          <td ng-repeat="input in form.inputs">{{getValueInObj(input,collection.entities)}}</td>
        </tr>
      </table>
    </div>
    <div class='cancel btn' onclick="$('#form_collections').hide()">关闭</div>
    <a class='btn btn-primary' ng-href="/forms/{{form.id}}/download">导出成Excel表格</a>
  </div>
</div>
