<ul class="breadcrumb sub-nav">
  <li ng-repeat="breadcrumb in breadcrumbs" class="{{$last ? 'active' : ''}}">
    <a ng-href="\#{{breadcrumb.url}}" ng-hide="$last">{{breadcrumb.name}}</a>
    <span ng-show="$last">{{breadcrumb.name}}</span>
    <span class="divider" ng-hide="$last">/</span>
  </li>
</ul>

<div id="org-manager" class="tab-pane row-fluid">
  <div class="span4 tabbable org-list">
    <div class="tab-content">
      <label ng-click="toggle('#organizations_self_in')">我的组织</label>
      <div id="organizations_self_in">
        <li ng-repeat="organization in organizations_self_in" ng-click="setActiveOrganization(organization)" class="{{organization.id == activeOrganization.id ? 'active' : ''}}">
          {{organization.name}}
        </li>
      </div>
      <label ng-click="toggle('#all_organizations')">全部组织</label>
      <div id="all_organizations">
        <angulartree datas="organizations" options="options" activeele="activeOrganization" active-fn="setActiveOrganization(org)" showmembercount="false">
        </angulartree>
      </div>
    </div>
  </div>
  <div class="span8">
    <div class="base-info">
      <img ng-src="{{activeOrganization.avatar | avatar_version:'big'}}" alt="org" class="pull-left info-pic">
      <div class="info-font">
        <div class="parent-organization">
          <li ng-repeat="parent in activeOrganization.parents">{{parent.name}}&gt;&gt;</li>
        </div>
        <h4 class="name">{{activeOrganization.name}}&nbsp;&nbsp;</h4>
        <label>
          <span class="line-tips">管理员</span>
          <span>
            <span ng-repeat="manager in activeOrganization.managers" class="manager">{{manager.name}}</span>
          </span>
        </label>
        <label><span class="line-tips">人数</span><span>{{activeOrganization.members_count}}</span></label>
        <label>
          <span class="line-tips">简介</span>
          <span>{{activeOrganization.bio}}</span>
        </label>
      </div>
    </div>
    <div class="wrap">
      <div class="more-info" ng-show="moreInfoShow">
        {{activeOrganization.bio}}
      </div>
      <div class="other-info tabbable">
        <div class="tab-content">
          <ul class="member-list" id="member_list">
            <li class="span6 member-item" ng-repeat="member in activeOrganization.members">
              <img ng-src="{{member.avatar | avatar_version:'normal'}}" alt="用户头像" class="pull-left">
              <p>
                <span class="name">{{member.name}}</span>
              </p>
              <div>联系方式: <span>{{member.phone}}</span></div>
              <div class="description">
                <span>简介:</span>
                {{member.bio}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>