<div class="base-info">
  <div class="pull-left info-pic pr">
    <img ng-src="{{defaultActiveEle.avatar | avatar_version:'big'}}" alt="org">
    <form id="avatarUploader" enctype="multipart/form-data">
      <label class="inline fileinput-button">
        <div class="opacity-half"></div>
        <input type="file" accept="image/*" name='organization[avatar]' class="vh" onchange="angular.element(this).scope().uploadAvatar(this);">
        <span>修改头像</span>
      </label>
    </form>
  </div>
  <div class="info-font">
    <div class="parentorg">
      <li ng-repeat="parent in defaultActiveEle.parents">
        <a href="#/admin/organizations/{{parent.id}}">{{parent.name}}</a>&gt;&gt;
      </li>
    </div>
    <h4 class="name" contenteditable="true" ng-blur="put_info({name: defaultActiveEle.name})" ng-model="defaultActiveEle.name">{{defaultActiveEle.name}}</h4>
    <a href="#/organizations/{{defaultActiveEle.id}}/members">管理成员</a>
    <label>
      <span class="line-tips">管理员</span>
      <span>
        <span class="manager" ng-repeat="manager in defaultActiveEle.managers">{{manager.name}}</span>
      </span>
    </label>
    <label>
      <span class="line-tips">人数</span>
      <span>{{defaultActiveEle.members_count}}</span>
    </label>
  </div>
</div>
<div class="more-info clearfix">
  <label>简介</label>
  <textarea id="info-textarea" ng-model="defaultActiveEle.bio" ng-blur="put_info({bio: defaultActiveEle.bio})" placeholder="Enter text ...">
  </textarea>
</div>