@import "bootstrap/mixins";

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  .brand {
    padding: 18px;
  }
  .others {
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    img {
      width: 50px;
      margin: 20px 15px;
    }
  }
}
.main-container {
  margin-left: 200px;
  height: 100%;
  position: relative;
  .main-content {
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 40px;
    .sub-nav {
      // margin: 0;
      // padding: 0 5px;
      background: #e5e5e5;
      &+div{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 36px;        
      }
    }
    .posts {
      position: absolute;
      top: 36px;
      right: 0;
      bottom: 0;
      &>div{
        height: 100%;
      }
      background: #f3f3f3;
      .unread-posts, .read-posts {
        width: 50%;
        background: whitesmoke;
        overflow-y: scroll;
        height: 100%;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .unread-posts {
        background: #EBEBEB;
      }
      .read-posts {
      }
    }
  }
}
