#singleReceiptView{
  background-color: #f3f3f3;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 36px;
  .main-wrap{
    max-width: 580px;
    margin: 0 auto;
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    background-color: #fff;
    .post{
      border: none;
      margin: 0;
      .avatar{
        margin-top: 0;
      }
      .content{
        padding-bottom: 0;
      }
      .comment{
        margin-top: 10px;
        border-top: 1px solid #d9d9d9;
        border-bottom: none;
        &[id$='-comment-receipt-comment']{
          background-color: #f3f3f3;
          border-top: none;
          margin-top: 0;
        }
      }
      .wrapper:hover{
        background-color: #fff;
      }
      .details .title{
        display: block;
        margin: 0;
        letter-spacing: 5px;
        margin-top: 5px;
        text-align: center;
      }
    }
  }
  .close-receipt{
    top: 10px;
    right: 10px;
  }
}