= link_to image_tag('logo_email.png'), root_url
hr
h4 亲爱的用户 #{@resource.name}：

p 您正在申请重置密码，请在24小时内完成设置，如果未做任何操作，系统将保留原密码。

p 请点击链接重置密码：#{link_to '修改密码', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)}( #{edit_password_url(@resource, reset_password_token: @resource.reset_password_token)} )

p 若上面不是链接形式，请将地址复制到您的浏览器地址栏再访问。

p 感谢您对 #{link_to 'Combee', root_url} 的支持，我们竭诚为您提供更好的体验。

p 这是一封系统邮件，请勿回复。
