= link_to image_tag(@resource.namespace.subdomain_enabled? ? @resource.namespace.logo.normal.url : 'logo_email.png', alt: 'combee'), root_url(subdomain: (@resource.namespace.subdomain_enabled? and @resource.namespace.subdomain))
hr
h4 亲爱的用户 #{@resource.name}：

p 欢迎使用Combee——组织消息通知中心，您已成功注册为Combee用户并被#{@resource.creator and @resource.creator.name}移入了组织#{@resource.organizations.map(&:name).join('、')}。

p 请点击下面的链接设置密码，并在24小时内完成设置。或登录 #{root_url(subdomain: (@resource.namespace.subdomain_enabled? and @resource.namespace.subdomain))} 使用此邮件地址申请重置密码。

p 请点击链接设置密码：#{link_to '修改密码', edit_password_url(@resource, reset_password_token: @resource.reset_password_token, subdomain: (@resource.namespace.subdomain_enabled? and @resource.namespace.subdomain))}( #{edit_password_url(@resource, reset_password_token: @resource.reset_password_token, subdomain: (@resource.namespace.subdomain_enabled? and @resource.namespace.subdomain))} )

p 若上面不是链接形式，请将地址复制到您的浏览器地址栏再访问。

p 感谢您对 #{link_to 'Combee', root_url(subdomain: (@resource.namespace.subdomain_enabled? and @resource.namespace.subdomain))} 的支持，我们竭诚为您提供更好的体验。

p 这是一封系统邮件，请勿回复。
