<div class="tab-pane" id="addOrgMember">
  <div class="row-fluid">
    <ul class="span5 orglist">
      <li class="org-name">
        互动体验中心
      </li>
      <li ng-repeat="member in members" member-id="{{member.id}}">
        <img ng-src="{{member.userPic}}" alt="pic">
        <span class="user-name">{{member.name}}</span>
        <span contenteditable="true" ng-model="member.phone" class="user-tel">{{member.phone}}</span>

        <span radioselect="true" class="position" ng-model="member.position" options="position_options"></span>
        <i class="remove icon-remove-sign" ng-click="removeMember(member.id)"></i>
        <li class="remove-all" ng-show="hasOrgMember">
          <span ng-click="removeAll()">删除全部</span>
          <i class="remove icon-remove-sign" ng-click="removeAll()"></i>
        </li>
      </ul>
      <div class="span7 add-org-user">
        <div class="tabbable">
          <ul class="nav nav-tab">
            <li class="active"><a href="#import_org_user" data-toggle="tab">移入用户</a></li>
            <li><a href="#create_org_user" data-toggle="tab">新建用户</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="import_org_user">
              <div class="row-fluid">
                <ul class="org-list top span6">
                  <label>从组织中选择</label>
                  <div>
                    <angulartree id="org-tree-container" datas="organizations" options="options" activeele="activeElement" active-fn="activeFn(org)">
                    </angulartree>
                  </div>
                </ul>
                <div class="span6 member-list">
                  <ul>
                    <li>
                      <input type="text" ng-model="searchInput" placeholder="姓名,电话或学号">
                    </li>
                    <li ng-repeat="member in activeElementMembers | filter:searchInput" ng-click="addToCurrentOrg(member.id)">
                      <img ng-src="{{member.userPic}}">
                      <span>
                        <span class="name">{{member.name}}</span>
                      </span>
                      <span class="tel">{{member.phone}}</span>
                      <i class="add pull-right icon-plus-sign"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="create_org_user">
              <li>
                <label>单个添加</label>
                <p>
                  <input class="input-small" type="text" ng-model="user_name" placeholder="姓名">
                  <input class="input-medium" type="text" ng-model="user_tel" placeholder="电话号码">
                  <span ng-click="addNewOrgMember()">
                    <i class="icon icon-add-light"></i>
                  </span>
                  <label class="checkbox">
                    <input type="checkbox">
                    <i class="icon icon-uncheck"></i>
                    短信通知该用户加入该组织
                  </label>
                </p>
              </li>
              <li>
                <label>批量导入</label>
                <p>
                  <input class="input-small" type="file" placeholder="选择文件">
                  <span>下载表格模板</span>
                </p>
              </li>
              <p>用户XXX 学号XXXXXXXXX 手机号XXXXXXXXXXXXXX导入失败</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>