<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Combee | 组织消息通知中心</title>
    <meta name="description" content="Combee是组织的消息通知中心，在这里你可以快速建立组织主页，导入组织成员，向组织成员发送消息，系统会通过Web、移动客户端以及短信、电话留言自动向成员推送消息，提高组织内部消息传递的效率">
    <meta name="keywords" content="combee，优信，组织，消息推送，消息反馈">
    <meta name="baidu-site-verification" content="Z5mSaex35X">
    <meta name="apple-itunes-app" content="app-id=590224935">
    <link rel="shortcut icon" href="#{image_path('favicon.png')}">
    <link rel="apple-touch-icon-precomposed" href="#{image_path('apple-touch-icon.png')}">
    <%= stylesheet_link_tag 'lite' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="m0a">
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= yield %>

    <%= javascript_include_tag 'lite' %>
    <!--[if IE]>
      <%= javascript_include_tag 'lite/placeholder' %>
    <![endif]-->

  </body>
</html>

